.input {
    display: block;
    align-items: center;
    text-align: center;
    margin-left :  100px ;

    padding : 3px
}

.form {
    align-items: center;
    align-content: center;
    display: block;
    text-align: center;
    margin-top: 15px;
}
